
.task-card {
    padding: 20px 30px;
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px grey;
    width: 50%;
    margin: 20px 0;
}

.task-card h3 {
    font-weight: 500;
    width: 70%;
}

.task-card button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: transparent;
}

.task-card .strikethrough {
    text-decoration: line-through;
}

.task-card  .blue-button {
    background-color: #0760FB;
}
